-- Add sold_by column to sales table to track admin vs salesperson sales
ALTER TABLE sales ADD COLUMN IF NOT EXISTS sold_by VARCHAR(20) DEFAULT 'SALESPERSON' CHECK (sold_by IN ('ADMIN', 'SALESPERSON'));

-- Update existing sales to set sold_by based on salesperson role
UPDATE sales s
SET sold_by = CASE 
  WHEN u.role = 'ADMIN' THEN 'ADMIN'
  ELSE 'SALESPERSON'
END
FROM users u
WHERE s.salesperson_id = u.id AND s.sold_by IS NULL;

-- Create index for better query performance
CREATE INDEX IF NOT EXISTS idx_sales_sold_by ON sales(sold_by);
CREATE INDEX IF NOT EXISTS idx_sales_date_sold_by ON sales(date, sold_by);

COMMENT ON COLUMN sales.sold_by IS 'Track if sale was made by ADMIN (direct sales) or SALESPERSON (from allocated stock)';
